name: CI

on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  CI:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [24]
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        run: |
          npm ci

      - name: Build Package
        run: |
          npm run build
          npm run build:module

      - name: Run Linter
        run: |
          npm run lint

      - name: Run Tests
        run: |
          npm run test -- --silent
